<!DOCTYPE HTML>
<html>
<head>
  <title>Logged in</title>
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
  <div>
    <h1>Admin start page</h1>
    You are logged in as <b><%=username %></b>.
    <br><br>
    <a href="/start">Start or finish runs</a>
    <br><br>
    Sites:
    <ul>
    <% site_list.forEach(function(entry) { %>
    <li><a href="/dummy"><%=entry.name %></a></li>
    <% }); %>
    </ul>
    <form action="logout" method="POST">
      <input type="submit" value="Logout">
    </form>
  </div>
</body>
</html>